<?xml version="1.0" encoding="UTF-8"?>
<!-- Preferences of the GT-100 Fx FloorBoard application. -->
<Preferences>
	<General>
		<Application version="20150504"/>
		<Donate url="false"/>
		<Files dir=""/>
    <Help url="help/help.html"/>
		<Start count="6"/>
	</General>
	<Language>
		<Locale select="0"/>
	</Language>
	<Midi>
		<BulkFinish patch="200"/>
		<BulkStart patch="1"/>
		<DBug bool="false"/>
		<Delay set="1"/>
		<MidiIn device=""/>
		<MidiOut device=""/>
		<TxCh set="1"/>
	</Midi>
	<Scheme>
		<Style select="1"/>
		<Colour select="0"/>
	</Scheme>
	<Window>
    <AutoScale bool="true"/>
		<Collapsed width="1330" bool="true"/>
		<Position x="10" y="10"/>
    <Restore sidepanel="true" window="true"/>
    <Scale ratio="1.0"/>
		<Single bool="true"/>
		<Size width="1330" height="720"/>
    <Scale ratio="10"/>
		<Splash bool="true"/>
		<Widgets bool="false"/>
	</Window>
</Preferences>
